.create_product {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: space-around;
}
.upload {
  max-width: 450px;
  height: 500px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin: 40px;
  position: relative;
}
#file_up {
  position: relative;
  width: 100%;
  height: 100%;
  outline: none;
}
#file_up::before {
  content: "+";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: white;
  color: rgb(72, 6, 123);
  font-size: 16rem;
  text-align: center;
  cursor: pointer;
  margin: auto;
}
#file_img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
}
#file_img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
#file_img span {
  position: absolute;
  top: -13px;
  right: -13px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 6px 10px;
  cursor: pointer;
  font-weight: 900;
  color: crimson;
}

.create_product form {
  max-width: 500px;
  min-width: 290px;
  width: 100%;
  margin: 15px 30px;
}
.create_product form .row {
  width: 100%;
  margin: 15px 0;
}

.create_product form .row label {
  color: #00758f;
}

.create_product form .row select {
  padding: 5px;
  border-radius: 5px;
  background-color: #ddd;
  margin-bottom: 20px;
  margin-left: 20px;
}

.create_product form .row textarea {
  padding: 6px;
}

.create_product form input,
textarea {
  width: 100%;
  min-height: 40px;
  padding: 0 5px;
  border-radius: 8px;
}
.create_product form button {
  width: 200px;
  height: 40px;
  background: #00758f;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  border-radius: 8px;
}
