@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");

* {
  padding: 0;
  box-sizing: border-box;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */

  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  max-width: 1230px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 20px;
  box-shadow: 0 0 35px #eee;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

@import url("./components/headers/header.css");
@import url("./components/mainpages/products/products.css");
@import url("./components/mainpages/detailProduct/detailProduct.css");
@import url("./components/mainpages/auth/login.css");
@import url("./components/mainpages/cart/cart.css");
@import url("./components/mainpages/history/history.css");
@import url("./components/mainpages/categories/categories.css");
@import url("./components/mainpages/createProduct/createProduct.css");

@media (max-width: 820px) {
  header .logo {
    min-width: 115px;
    flex: none;
  }
  header ul {
    padding: 10px 0;
  }
}
@media (max-width: 720px) {
  header ul {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0.98;
    z-index: 99;
    transition: 0.5s ease-in;
    margin-top: 0;
  }
  header .menu {
    display: block;
    cursor: pointer;
  }
  header ul li .menu {
    position: absolute;
    top: 10px;
    right: 20px;
  }
  header {
    justify-content: space-between;
  }

  .logo h2 {
    text-align: center;
  }

  .upload {
    margin: 20px 0;
    max-width: 450px;
    height: 300px;
  }
  #file_up::before {
    font-size: 11rem;
}
}

@media (max-width: 570px) {
  .filter_menu .row span {
    display: none;
  }
}

@media (max-width: 500px) {
  .App {
    padding: 0 10px;
  }
  .detail {
    font-size: 100%;
    padding: 0;
  }

  .filter_menu .sort {
    flex: 1;
  }
  .filter_menu .sort select {
    width: 100%;
    min-width: 290px;
  }
  .filter_menu input {
    flex: 1;
    margin-right: 0;
  }
  .login-page {
    padding: 30px 15px;
  }
  .delete-all {
    margin: 20px 0;
  }
  
}
