.products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin: 20px 0;
}

/* ----------- Product Item ----------------- */
@import url("../utils/productItem/productItem.css");

.delete-all {
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.delete-all input {
  height: 25px;
  width: 25px;
  margin: 0 15px;
}
.delete-all span {
  text-transform: uppercase;
  color: #00758f;
  letter-spacing: 1.3px;
}
.delete-all button {
  background-color: #00758f;
  padding: 5px 20px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 8px;
}

/* ------------ Filters Menu ----------------- */
.filter_menu {
  width: 100%;
  min-height: 40px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 15px 0;
}
.filter_menu select,
input {
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #eee;
  outline: none;
  height: 40px;
  padding: 0 10px;
  margin-bottom: 8px;
}
.filter_menu select {
  text-transform: capitalize;
}
.filter_menu input {
  flex: 1;
  margin-left: 8px;
  margin-right: 8px;
}

/* -------------------- Load More --------------- */
.load_more {
  text-align: center;
}
.load_more button {
  padding: 0 25px;
  margin-bottom: 40px;
  text-transform: capitalize;
  background: #00758f;
  border-radius: 25px;
  color: #fff;
}
