.product_card {
  max-width: 350px;
  overflow: hidden;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 0 15px #ddd;
  margin: 10px 0;
  position: relative;
  margin: 5px;
}
.product_card img {
  width: 100%;
  height: 220px;
  display: block;
  object-fit: cover;
  border-radius: 5px;
}
.product_box h2 {
  margin: 10px 0;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-transform: capitalize;
  cursor: pointer;
  color: #323232;
}
.product_card span {
  color: crimson;
}
.product_box p {
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  height: 70px;
  overflow: hidden;
  color: #323232;
}

.btn {
  border-radius: 25px;
}
.row_btn {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.row_btn a {
  width: 50%;
  text-align: center;
  color: white;
  padding: 4px;
}
#btn_buy {
  background: #C3447A;
  margin-right: 5px;
}
#btn_view {
  background: #00758F;
  margin-left: 5px;
}
.product_card input {
  position: absolute;
  width: 25px;
  height: 25px;
}
