.detail {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  font-size: 120%;
}
.detail img {
  max-width: 400px;
  width: 100%;
  margin-right: 30px;
  height: 300px;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}
.box-detail {
  max-width: 500px;
  margin: 5px 20px;
}

.box-detail h3 {
  text-transform: uppercase;
  color: #00758f;
  margin: 0;
}

.box-detail h4 {
  text-align: left;
  margin: 20px 0;
}
.box-detail h6 {
  margin: 10px 0;
  color: #cd212a;
}
.box-detail span {
  color: #cd212a;
}
.box-detail p {
  line-height: 1.5;
  margin: 10px 0;
  opacity: 0.8;
}
.box-detail .sold {
  color: #ff6f61;
}
.box-detail .cart {
  background: #d2386c;
  color: white;
  margin-top: 20px;
  padding: 8px 25px;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
}
